<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="themes/images/carousel/banner1.png" width="100%" height="200px" alt="" />
				<div class="intro">
					<h1>ĐỒ CHƠI TÌNH DỤC</h1>
					<p><span>Màn dạo đầu nồng cháy</span></p>
					<p><span>Thỏa mãn nhu cầu cá nhân</span></p>
				</div>
			</li>
			<li>
				<img src="themes/images/carousel/slider2.jpg" width="100%" height="200px" alt="" />
				<div class="intro">
					<h1>GIAO HÀNG SIÊU TỐC</h1>
					<p><span>Giao hàng tận nơi trên khắp 64 tỉnh thành</span></p>
					<p><span>Hotline: 0909 01 06 91</span></p>
				</div>
			</li>
		</ul>
	</div>			
</section>
<section class="header_text">
	Đàn ông chúng ta luôn yêu phái đẹp và muốn chiều chuộng họ, nhưng có những điều thầm kín mà phụ nữ khổ sở không thể nói ra. Đồ chơi tình dục chính là cách mang đến những giây phút đặc biệt và khoái cảm nhất trong chuyện giường chiếu. Sản phẩm không chỉ dành riêng cho những cặp uyên ương mà còn mang đến những giây phút thư giãn, giải tỏa sinh lý cho những Anh, Chị, Em độc thân, xa người tình.
</section>