 <section id="footer-bar">
  <div class="row">
    <div class="span3">
      <h4>Danh mục</h4>
      <ul class="nav">
        <li><a href="/">Trang chủ</a></li>  
        <li><a href="/about.html">Giới thiệu</a></li>
        <li><a href="/contact.html">Liên hệ</a></li>
      </ul>         
    </div>
    <div class="span4">
      <h4>Phân loại Sản phẩm</h4>
      <ul class="nav">
        <li><a href="/bao-cao-su-durex.html">Bao cao su Durex</a></li>     
        <li><a href="/bao-cao-su-sagami.html">Bao cao su Sagami</a></li>
        <li><a href="/bao-cao-su-sieu-mong.html">Bao cao su Siêu Mỏng</a></li>
        <li><a href="/bao-cao-su-keo-dai-thoi-gian.html">Bao cao su Kéo Dài Thời Gian</a></li>
        <li><a href="/bao-cao-su-gai-gan.html">Bao cao su Gai & Gân</a></li>
        <li><a href="/bao-cao-su-cao-cap.html">Bao cao su Cao Cấp</a></li>
        <li><a href="/bao-sao-su-donzen.html">Bao cao su Donzen (Đôn Dên)</a></li>
        <li><a href="/bao-sao-su-gia-re.html">Bao cao su Giá Rẻ</a></li>
        <li><a href="/bao-sao-su-size-lon.html">Bao cao su Size Lớn</a></li>
        <li><a href="/bao-sao-su-size-nho.html">Bao cao su Size Nhỏ</a></li>
        <li><a href="/bao-sao-su-huong-thom.html">Bao cao su Hương Thơm</a></li>
        <li><a href="/bao-sao-su-nu-gioi.html">Bao cao su Nữ Giới</a></li>
      </ul>
    </div>
    <div class="span5">
      <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
      <p>
        Địa Chỉ :17 Hồ Văn Huê, phường 9, quận Phú Nhuận.
        <br/>Điện Thoại: 0909 355 888.
        <br/>Zalo: 0909 394939 - Viber: 0908 020 020.
        <br/>Facebook : baocaosucenter@gmail.com. 
        <br/>Gmail : baocaosucenter@gmail.com.
      </p>
      <br/>
      <span class="social_icons">
        <a class="facebook" href="#">Facebook</a>
        <a class="twitter" href="#">Twitter</a>
        <a class="goole" href="#">Google+</a>
        <a class="skype" href="#">Skype</a>
        <a class="vimeo" href="#">Vimeo</a>
      </span>
    </div>          
  </div>  
</section>