<section class="navbar main-menu">
  <div class="navbar-inner main-menu">        
    <nav id="menu" class="pull-right">
      <ul>
        <li><a href="/bao-cao-su-durex.html">Durex</a></li>     
        <li><a href="/bao-cao-su-sagami.html">Sagami</a></li>
        <li><a href="/bao-cao-su-sieu-mong.html">Siêu Mỏng</a></li>
        <li><a href="/bao-cao-su-keo-dai-thoi-gian.html">Kéo Dài Thời Gian</a></li>
        <li><a href="/bao-cao-su-gai-gan.html">Gai & Gân</a></li>
        <li><a href="/bao-cao-su-cao-cap.html">Cao Cấp</a></li>
        <li><a href="/bao-cao-su-donzen.html">Donzen (Đôn Dên)</a></li>
        <li><a href="/bao-cao-su-gia-re.html">Giá Rẻ</a></li>
        <li><a href="/bao-cao-su-size-lon.html">Size Lớn</a></li>
        <li><a href="/bao-cao-su-size-nho.html">Size Nhỏ</a></li>
        <li><a href="/bao-cao-su-huong-thom.html">Hương Thơm</a></li>
        <li><a href="/bao-cao-su-nu-gioi.html">Nữ Giới</a></li>
      </ul>
    </nav>
  </div>
</section>